html, body {
  background-color: #35314b;
  margin: 10px;
  margin-top: 2px;
  color: white;
  font-family: " verdana, Times New Roman", Times, serif, sans-serif, Tahoma,
    sans-serif;
  max-width: 1300px;
}

main {
  display: flex;
}

h1,
h2 {
  font-size: 32px;
  text-align: left;
}

aside {
  flex: 1;
  text-align: center;
  border-right: 5px solid yellowgreen;
}

section {
  flex: 4;
  margin-left: 16px;
  margin-top: 30px;
}

.photo {
  border: 1px solid wheat;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

a{
  font-size: 25px;
  margin-top: 12px;
  padding: 10px;
  color: white;
  width: 80%;
  text-decoration: none;
  border: 1px ridge white;
  border-radius: 50px;
  display: block;
}

a:hover,
#send:hover {
  background-color: rgb(102, 35, 35);
}

footer {
  text-align: right;
  color: black;
}

/* contact page style */
.contact {
  display: inline-block;
  width: 70%;
  height: 50%;
}

.box{
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 50%;
}

.logo {
  border: none;
  display: inline;
  width: 18px;
  height: 18px;
  border-radius: 40%;
}

.logo:hover {
  background-color: unset;
}


label{
  font-size: 20px;
  padding-right: 10px;
  display: inline-flex;  
  width: 100px;
}
label[for="message"]{
  width: 125px;
}

#name,
#email,
#city{
  width: 70%;
  font-size: 18px;
  margin: 20px 10px 0px 30px;
  height: 25px;
}
.message {
  margin-top: 20px;
  width: 70%;
  font-size: 18px;
  margin-left: 5px;
}

#send {
  font-size: 25px;
  margin: 12px;
  padding: 10px;
  color: white;
  width: 30%;
  background-color: #35314b;
  border: 1px ridge white;
  border-radius: 50px;
}

.box > .side{
  margin: 30px 10px 30px 10px;
}
.social{
  width: 80%;
  text-align: center;
}